doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    title intive
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    // <![endif]
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    style(type='text/css').
      #outlook a {
      padding: 0;
      }
      body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      }
      table,
      td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      }
      img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
      }
      p {
      display: block;
      margin: 13px 0;
      }
    //if mso
      noscript
        xml
          o:officedocumentsettings
            o:allowpng
              o:pixelsperinch 96
    //if lte mso 11
      style(type='text/css').
        .mj-outlook-group-fix { width:100% !important; }
    // [if !mso] <!
    link(href='https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap' rel='stylesheet' type='text/css')
    style(type='text/css').
      @import url(https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap);
    // <![endif]
    style(type='text/css').
      @media only screen and (min-width:480px) {
      .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
      }
      }
    style(media='screen and (min-width:480px)').
      .moz-text-html .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
      }
    style(type='text/css').
      [owa] .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
      }
    style(type='text/css').
  body(style='word-spacing:normal;background-color:#F4F4F4;')
    div(style='background-color:#F4F4F4;')
      //if mso | IE
        table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:600px;' width='600' bgcolor='#ffffff')
          tbody
            tr
              td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;')
        table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#ffffff;background-color:#ffffff;width:100%;')
          tbody
            tr
              td(style='direction:ltr;font-size:0px;padding-bottom:20px;text-align:center;')
                //if mso | IE
                  table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                    tbody
                      tr
                        td(style='vertical-align:top;width:600px;')
                .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
                  table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%')
                    tbody
                      tr
                        td(align='left' style='background:#f9f9f9;font-size:0px;padding:48px 48px 48px 48px;padding-top:48px;padding-right:48px;padding-bottom:48px;padding-left:48px;word-break:break-word;')
                          div(style='font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:42px;line-height:1;text-align:left;color:#000000;')
                            h1.text-build-content(data-testid='40hek9xDN3MMa5vMrBxDG' style='font-weight: 600; margin:0;display: inline-flex;')
                              span(style='background-color:#f9f9f9;color:#393232;font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:42px;')
                                b Subbs
                      tr
                        td(align='left' style='font-size:0px;padding:6px 48px 0px 48px;padding-top:6px;padding-right:48px;padding-bottom:0px;padding-left:48px;word-break:break-word;')
                          div(style='font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:20px;line-height:1;text-align:left;color:#000000;font-weight: 900;')
                            h3.text-build-content(data-testid='kRCGXK-CneANy-XPXRZzv' style='margin-top: 48px; margin-bottom: 10px;font-weight: 900;')
                              span(style='color:#151515;font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:20px;')
                                | Welcome to Subbs
                      tr
                        td(align='left' style='font-size:0px;padding:6px 48px 0px 48px;padding-top:6px;padding-right:48px;padding-bottom:0px;padding-left:48px;word-break:break-word;')
                          div(style='font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;line-height:1;text-align:left;color:#000000;')
                            p.text-build-content(data-testid='sfj3mhLwOtTDLXeJQpNdk' style='margin: 10px 0; margin-top: 10px; margin-bottom: 10px;')
                              span(style='color:#151515;font-family:Arial;font-size:16px;line-height:22px; ') Hey 
                              span(style='color:#151515;font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;line-height:22px;') #{name}
                              span(style='color:#151515;font-family:Arial;font-size:16px;line-height:22px;') ,
                      tr
                        td(align='left' style='font-size:0px;padding:6px 48px 0px 48px;padding-top:6px;padding-right:48px;padding-bottom:0px;padding-left:48px;word-break:break-word;')
                          div(style='font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;line-height:1;text-align:left;color:#000000;')
                            p.text-build-content(style='line-height: 24px; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;' data-testid='EMivYXIys_MX5UaqO0lrT')
                              span(style='color:#151515;font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;')
                               |  Thanks for signing up to Subbs.
                      tr
                        td(align='left' style='font-size:0px;padding:6px 48px 0px 48px;padding-top:6px;padding-right:48px;padding-bottom:0px;padding-left:48px;word-break:break-word;')
                          div(style='font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;line-height:1;text-align:left;color:#000000;')
                            p.text-build-content(data-testid='tKV4U-nxcJBrfxPgzhJzj' style='margin: 10px 0; margin-top: 10px; margin-bottom: 10px;')
                              span(style='color:#151515;font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;line-height:22px;')
                               | Click on the button below to verify your account and start communicating with your customers seamlessly.
                      tr
                        td(align='left' vertical-align='middle' style='font-size:0px;padding:6px 48px 10px 48px;padding-top:6px;padding-right:48px;padding-left:48px;word-break:break-word;')
                          table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:separate;line-height:100%;')
                            tbody
                              tr
                                td(align='center' bgcolor='#000000' role='presentation' style='margin-top:32px;border:none;border-radius:10px;cursor:auto;mso-padding-alt:12px 25px 12px 25px;background:#000000;' valign='middle')
                                  a(href=link)(style='display:inline-block;background:#000000;color:#ffffff;font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:12px 25px 12px 25px;mso-padding-alt:0px;border-radius:10px;')
                                    span(style='font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;')
                                    | Verify Email
                      tr
                        td(align='left' style='font-size:0px;padding:48px 48px 0px 6px;padding-top:6px;padding-right:48px;padding-bottom:0px;padding-left:48px;word-break:break-word;')
                          div(style='font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;line-height:1;text-align:left;color:#000000;')
                            p.text-build-content(style='line-height: 24px; margin: 10px 0; margin-top: 10px; margin-bottom: 0px;' data-testid='EMivYXIys_MX5UaqO0lrT')
                              span(style='color:#151515;font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;')
                                | Kind regards,
                      tr
                        td(align='left' style='font-size:0px;padding:6px 0px 0px 48px;padding-top:6px;padding-right:48px;padding-bottom:0px;padding-left:48px;word-break:break-word;')
                            div(style='font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;line-height:1;text-align:left;color:#000000;')
                              p.text-build-content(style='line-height: 24px; margin: 10px 0; margin-top: 0px; margin-bottom: 10px;font-weight: 900;' data-testid='EMivYXIys_MX5UaqO0lrT')
                                span(style='color:#151515;font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;')
                                | Subbs Team
                      tr
                        td(align='left' style='background:#f9f9f9;font-size:0px;padding:20px 48px 0px 48px;padding-top:20px;padding-right:48px;padding-bottom:0px;padding-left:48px;word-break:break-word;')
                          div(style='font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;line-height:1;text-align:left;color:#000000;')
                            p.text-build-content(data-testid='Jkt7x_HYsb4OzI3ili3XL' style='margin: 10px 0; margin-top: 10px; margin-bottom: 10px;')
                              span(style='color:#5e6977;font-family:Nunito Sans, Helvetica, Nunito Sans, sans-serif;font-size:16px;line-height:22px;')
                                | Need
                                | help? Contact our support team.
                    
                      tr
                        td(align='left' style='background:#f9f9f9;font-size:0px;padding:10px 48px 10px 48px;padding-right:48px;padding-left:48px;word-break:break-word;')
                          //if mso | IE
                            table(align='left' border='0' cellpadding='0' cellspacing='0' role='presentation')
                              tbody
                                tr
                                  td
                          table(align='left' border='0' cellpadding='0' cellspacing='0' role='presentation' style='float:none;display:inline-table;')
                            tbody
                              tr
                                td(style='padding-right:12.75px;vertical-align:middle;')
                                  table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#000000;border-radius:12px;width:16.5;')
                                    tbody
                                      tr
                                        td(style='padding:0px 0px 0px 0px;font-size:0;height:16.5;vertical-align:middle;width:16.5;')
                                          a(href='https://www.facebook.com' target='_blank')
                                            img(height='16.5' src='https://www.mailjet.com/images/theme/v1/icons/ico-social/facebook.png' style='border-radius:12px;display:block;' width='16.5')
                          //if mso | IE
                          table(align='left' border='0' cellpadding='0' cellspacing='0' role='presentation' style='float:none;display:inline-table;')
                            tbody
                              tr
                                td(style='padding:12.75px;vertical-align:middle;')
                                  table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#000000;border-radius:12px;width:16.5;')
                                    tbody
                                      tr
                                        td(style='padding:0px 0px 0px 0px;font-size:0;height:16.5;vertical-align:middle;width:16.5;')
                                          a(href='https://twitter.com' target='_blank')
                                            img(height='16.5' src='https://www.mailjet.com/images/theme/v1/icons/ico-social/twitter.png' style='border-radius:12px;display:block;' width='16.5')
                          //if mso | IE
                          table(align='left' border='0' cellpadding='0' cellspacing='0' role='presentation' style='float:none;display:inline-table;')
                            tbody
                              tr
                                td(style='padding:12.75px;vertical-align:middle;')
                                  table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#000000;border-radius:12px;width:16.5;')
                                    tbody
                                      tr
                                        td(style='padding:0px 0px 0px 0px;font-size:0;height:16.5;vertical-align:middle;width:16.5;')
                                          a(href='https://instagram.com' target='_blank')
                                            img(height='16.5' src='https://www.mailjet.com/images/theme/v1/icons/ico-social/instagram.png' style='border-radius:12px;display:block;' width='16.5')
                          //if mso | IE
                          table(align='left' border='0' cellpadding='0' cellspacing='0' role='presentation' style='float:none;display:inline-table;')
                            tbody
                              tr
                                td(style='padding:12.75px;vertical-align:middle;')
                                  table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#000000;border-radius:12px;width:16.5;')
                                    tbody
                                      tr
                                        td(style='padding:0px 0px 0px 0px;font-size:0;height:16.5;vertical-align:middle;width:16.5;')
                                          a(href='https://instagram.com' target='_blank')
                                            img(height='16.5' src='https://www.mailjet.com/images/theme/v1/icons/ico-social/linkedin.png' style='border-radius:12px;display:block;' width='16.5')
                          //if mso | IE
                          //if mso | IE
                          //if mso | IE
                            table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:600px;' width='600')
                              tbody
                                tr
                                  td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
                          div(style='margin:0px auto;max-width:600px;')
                            table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;')
                              tbody
                                tr
                                  td(style='direction:ltr;font-size:0px;padding:20px 0px 20px 0px;text-align:center;')
                                    //if mso | IE
                                      table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                        tbody
                                          tr
                                            td(style='vertical-align:top;width:600px;')
                                    .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
                                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                                        tbody
                                          tr
                                            td(style='vertical-align:top;padding:0;')
                                              table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                                                tbody
                                    //if mso | IE